<nav class="navbar navbar-expand-sm bg-dark"  data-bs-theme="dark">
    <div class="container-md">
      <a class="navbar-brand" href="#">
        <img src="./assets/tienda.png" alt="Logo" width="35" height="35" class="d-inline-block align-text-top me-2">
        Navbar
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active " aria-current="page" routerLink="">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"  [routerLink]="['/client']" routerLinkActive="router-link-active"  >Clientes</a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link"  [routerLink]="['/product']" routerLinkActive="router-link-active"  >Productos</a>
          </li>

          <li class="nav-item">
            <a class="nav-link"  [routerLink]="['/shopping']" routerLinkActive="router-link-active"  >Compras</a>
          </li>
        </ul>
        <button class="btn btn-outline-success" type="submit">LogOut</button>
      </div>
    </div>
  </nav>