<table class="table table-hover">
    <thead class="table-dark">
      <tr >
        <th scope="col">#</th>
        <th scope="col">Id</th>
        <th scope="col">Nombre</th>
        <th scope="col">photo-url</th>
        <th scope="col">Region</th>
        <th scope="col">Fecha</th>
        <th scope="col">Estado</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let cl of clients">
        <th scope="row"></th>
        <td>{{cl.numberId}}</td>
        <td>{{cl.firstName}} {{cl.lastName}}</td>
        <td>{{cl.photoUrl}}</td>
        <td>{{cl.region.name}}</td>
        <td>{{cl.birthday}}</td>
        <td>{{cl.state}}</td>
        <td class="d-flex justify-content-around">
            <button  type="button" class="btn btn-danger"><img src="assets/trash.svg" alt=""></button>
            <button   type="button" class="btn btn-primary"><img src="assets/edit.svg" alt=""></button>
        </td>
      </tr>

    </tbody>
  </table>

